<!DOCTYPE html>
<html class="no-js"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/shared/_layout :: main-fragment(
                                                ~{::title},
                                                ~{:: #main-content}
                                               )}"> 
<head>
        <title>Chi tiết sản phẩm - Guitar Shop</title>
</head>
<body>
<div id="main-content">
    <!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Chi tiết sản phẩm</h1>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->
    <!--================Single Product Area =================-->
    <div class="product_image_area">
        <div class="container">
            <div class="row s_product_inner">
                <div class="col-md-6 col-lg-4">
                    <div class="s_Product_carousel">
                        <div class="single-prd-item">
                            <img alt="" class="img-fluid" th:src="${product.getImageThumbnail()}">
                        </div>
                        <th:block th:each="item: ${ListImage}">
                            <div class="single-prd-item">
                                <img alt="" class="img-fluid" th:src="${item.getData()}" >
                            </div>
                        </th:block>
                    </div>
                </div>
                <div class="col-md-6 offset-lg-1">
                    <div class="s_product_text">
                        <h3 th:text="${product.getName()}"></h3>
                        <div class="price">
                            <th:block th:if="${product.discountAmount}>0"
                                      th:with="discountPrice=${product.price}*(100-${product.discountAmount})/100">
                                <h2 th:text="${#numbers.formatDecimal(discountPrice,0,'POINT',0,'COMMA')+'đ'}"></h2>
                                <h4 class="l-through"
                                    th:text="${#numbers.formatDecimal(product.price,0,'POINT',0,'COMMA')+'đ'}"></h4>
                            </th:block>
                            <th:block th:unless="${product.discountAmount}>0">
                                <h2 th:text="${#numbers.formatDecimal(product.price,0,'POINT',0,'COMMA')+'đ'}"></h2>
                            </th:block>
                        </div>
                        <ul class="list">
                            <li th:text= "'Loại đàn: ' + ${product.getCategoryByIdCategory().getName()}"><a href="#"><span></span> </a></li>
                            <li th:text="'Mã SP: '+ ${product.getModelNumber()}"><a href="#"><span> </span></a></li>
                            <li th:text="'Tình trạng: '+ ${product.getStatus()}"><a href="#"><span></span> </a></li>
                            <li th:text="'Bảo hành: '+ ${product.getWarrantyPeriod()}"><a href="#"><span></span></a></li>
                        </ul>
                        <div class="social-button-group">
                            <ul class="list">
                                <li><a><span class="fa fa-facebook-f"></span></a></li>
                                <li><a><span class="fa fa-twitter"></span></a></li>
                                <li><a><span class="fa fa-tumblr"></span></a></li>
                                <li><a><span class="fa fa-pinterest"></span></a></li>
                            </ul>
                        </div>
                        <p th:text="${product.getDescription()}"></p>
                        <div class="product_count">
                            <label for="qty">Số lượng:</label>
                            <input class="input-text" id="qty" maxlength="12" name="qty" type="text" value="1">
                            <button class="increase"
                                    onclick="var result = document.getElementById('qty'); var sst = result.value; if( !isNaN( sst )) result.value++;return false;"
                                    type="button">
                                <i class="lnr lnr-chevron-up"></i>
                            </button>
                            <button class="reduced"
                                    onclick="var result = document.getElementById('qty'); var sst = result.value; if( !isNaN( sst ) && sst > 1 ) result.value--;return false;"
                                    type="button">
                                <i class="lnr lnr-chevron-down"></i>
                            </button>
                        </div>
                        <div class="card_area d-flex align-items-center">
                            <a class="primary-btn" href="#" id="add_to_cart">Thêm vào giỏ</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--================End Single Product Area =================-->
    <!--================Product Description Area =================-->
    <section class="product_description_area">
        <div class="container">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a aria-controls="review" aria-selected="false" class="nav-link active" data-toggle="tab"
                       href="#review"
                       id="review-tab"
                       role="tab">Đánh giá</a>
                </li>
                <li class="nav-item">
                    <a aria-controls="profile" aria-selected="false" class="nav-link" data-toggle="tab" href="#profile"
                       id="profile-tab"
                       role="tab">Đặc điểm kỹ thuật</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div aria-labelledby="review-tab" class="tab-pane fade show active" id="review" role="tabpanel">
                    <div class="row total_rate">
                        <div class="col-lg-4">
                            <div class="box_total">
                                <h5>Xếp hạng trung bình</h5>
                                <h4><span id="average-rate" th:text="${AverageRate} +'/5'"></span></h4>
                                <h6>(<span id="total-rate-1" th:text="${TotalRate}"></span> lượt xếp hạng)</h6>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="rating_list">
                                <h5>Dựa trên <span id="total-rate-2" th:text="${TotalRate}"></span> lượt xếp hạng:</h5>
                                <ul class="list">
                                    <li>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        [[${ListCountRate[0]}]]
                                    </li>
                                    <li>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        [[${ListCountRate[1]}]]
                                    </li>
                                    <li>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        [[${ListCountRate[2]}]]
                                    </li>
                                    <li>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                        [[${ListCountRate[3]}]]
                                    </li>
                                    <li>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        [[${ListCountRate[4]}]]
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="review_box">
                                <h5>Xếp hạng của bạn:</h5>
                                <div class="rate list"></div>
                                <div>
                                    <span id="point">4</span>
                                    <span>/5</span>
                                </div>
                                <a class="primary-btn mt-2" href="#" id="send_rating">Gửi</a>
                            </div>
                        </div>
                    </div>
                    <div class="fb-comments" data-href="http://localhost:8080/chi-tiet" data-numposts="5"
                         data-order-by="reverse_time" data-width="auto"></div>
                </div>
                <div aria-labelledby="profile-tab" class="tab-pane fade" id="profile" role="tabpanel">
                    <div class="table-responsive">
                        <table class="table">
                            <tbody>
                            <tr>
                                <td>
                                    <h5>Mã sản phẩm</h5>
                                </td>
                                <td>
                                    <h5 th:text="${product.getModelNumber()}"></h5>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5>Kiểu dáng</h5>
                                </td>
                                <td>
                                    <h5 th:text="${product.getStyle()}"></h5>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5>Xuất xứ</h5>
                                </td>
                                <td>
                                    <h5 th:text="${product.getManufacturerByIdManufacturer().getCountry()}"></h5>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5>Thương hiệu</h5>
                                </td>
                                <td>
                                    <h5 th:text="${product.getManufacturerByIdManufacturer().getName()}"></h5>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5>Chất liệu thân đàn</h5>
                                </td>
                                <td>
                                    <h5 th:text="${product.getMaterial()}"></h5>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5>Chất liệu dây đàn</h5>
                                </td>
                                <td>
                                    <h5 th:text="${product.getStringMaterial()}"></h5>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Product Description Area =================-->
    <!-- Start related-product Area -->
    <section class="related-product-area section_gap_bottom">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 text-center">
                    <div class="section-title">
                        <h1>Sản phẩm liên quan</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <th:block th:each="product:${ListRelativeProduct}">
                    <a th:href="@{~/chi-tiet/(name=${product.metadata},id=${product.Id})}">
                        <div class="col-lg-3 col-md-4 col-6">
                            <div class="single-product">
                                <img alt="" class="img-fluid" th:src="${product.getImageThumbnail()}">
                                <div class="product-details s_product_text">
                                    <h6 th:text="${product.getName()}">
                                    </h6>
                                    <div class="price">
                                        <th:block th:if="${product.discountAmount}>0"
                                                  th:with="discountPrice=${product.price}*(100-${product.discountAmount})/100">
                                            <h6 th:text="${#numbers.formatDecimal(discountPrice,0,'POINT',0,'COMMA')+'đ'}"></h6>
                                            <h6 class="l-through"
                                                th:text="${#numbers.formatDecimal(product.price,0,'POINT',0,'COMMA')+'đ'}"></h6>
                                        </th:block>
                                        <th:block th:unless="${product.discountAmount}>0">
                                            <h6 th:text="${#numbers.formatDecimal(product.price,0,'POINT',0,'COMMA')+'đ'}"></h6>
                                        </th:block>
                                    </div>
                                    <div class="prd-bottom card_area">
                                        <a class="primary-btn" href="#">Thêm vào giỏ</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </th:block>

            </div>
        </div>
    </section>
    <!-- End related-product Area -->  
</div>
</body>
</html>