<!DOCTYPE html>
<html class="no-js"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/shared/_layout :: main-fragment(
                                                ~{::title},
                                                ~{:: #main-content}
                                               )}"> 
<head>
        <title>Kết quả tìm kiếm - Guitar Shop</title>
</head>
<body>
<div id="main-content">
    <!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Kết quả tìm kiếm</h1>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->

    <section class="search_area section_gap">
        <div class="container">
            <div class="result_overview">
                <h4>Kết quả tìm kiếm cho 'classic': 10 sản phẩm.</h4>
                <hr />
            </div>
            <div class="result_list">
                <div class="row">
                    <a href="#">
                        <div class="col-lg-3 col-md-4 col-6">
                            <div class="single-product">
                                <img class="img-fluid" th:src="@{/img/fav.png}" alt="">
                                <div class="product-details s_product_text">
                                    <h6>
                                        Guitar 123
                                    </h6>
                                    <div class="price">
                                        <h6>2.700.000đ</h6>
                                        <h6 class="l-through">3.000.000đ</h6>
                                    </div>
                                    <div class="prd-bottom card_area">
                                        <a class="primary-btn" href="#">Thêm vào giỏ</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <!--<div class="filter-bar d-flex flex-wrap align-items-center justify-content-end">
                @Html.PagedListPager((IPagedList)Model, page => Url.Action("SearchResult", new { searchText = ViewBag.searchText, page }))
            </div>-->
    </section> 
</div>
</body>
</html>