<!DOCTYPE html>
<html class="no-js"
      th:replace="~{/shared/_layout :: main-fragment(
                                                ~{::title},
                                                ~{:: #main-content}
                                               )}"
      xmlns:th="http://www.thymeleaf.org"> 
<head>
        <title>Đăng nhập - Guitar Shop</title>
</head>
<body>
<div id="main-content">
    <!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Đăng nhập tài khoản</h1>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->
    <!--================Login Box Area =================-->
    <section class="login_box_area section_gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="login_box_img">
                        <img alt="" class="img-fluid" th:src="@{/img/login.jpg}">
                    </div>
                </div>
                <div class="col-lg-6">
                    <form th:action="@{/dang-nhap}" method="POST" class="login_form_inner">
                        <h3>Đăng nhập</h3>
                        <div class="row login_form">
                            <div class="col-md-12 form-group">
                                <input class="form-control" placeholder="Email" type="email" id="email" name="email">
                            </div>
                            <div class="col-md-12 form-group">
                                <input class="form-control" placeholder="Mật khẩu" type="password" id="password" name="password">
                            </div>
                            <div class="col-md-12 form-group forgot_password">
                                <div class="row remember_me">
                                    <input id="f-option2" type="checkbox">
                                    <label for="f-option2">Duy trì đăng nhập</label>
                                </div>
                                <a href="#">Quên mật khẩu?</a>
                            </div>
                            <div class="col-md-12 form-group">
                                <button class="primary-btn" name="Submit" value="Login" type="Submit" >Đăng nhập</button>
                            </div>
                            <div class="col-md-12 form-group register">
                                <span class="">Chưa có tài khoản? <a th:action="@{/registration}" method="get">Đăng kí ngay</a></span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!--================End Login Box Area =================-->    
</div>
</body>
</html>