<!DOCTYPE html>
<html class="no-js"
      th:replace="~{/shared/_layout :: main-fragment(
                                                ~{::title},
                                                ~{:: #main-content},
                                                ${session.PersonalInformation}
                                               )}"
      xmlns:th="http://www.thymeleaf.org"> 
<head>
        <title>Chi tiết giỏ hàng - Guitar Shop</title>
</head>
<body>
<div id="main-content">
    <!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Chi tiết giỏ hàng</h1>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->
    <!--================Cart Area =================-->
    <section class="cart_area">
        <div class="container">
            <div class="cart_inner" id="cart_content">
                <th:block th:if="${session.sessionCart}!=null">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">Sản phẩm</th>
                                <th scope="col">Đơn giá</th>
                                <th scope="col">Số lượng</th>
                                <th scope="col">Thành tiền</th>
                            </tr>
                            </thead>
                            <tbody>
                            <th:block th:each="item:${session.sessionCart}">
                                <tr th:with="product=${item.getValue().getProduct()}, quantity=${item.getValue().getQuantity()}">
                                    <th:block th:with="discountPrice=${product.price}*(100-${product.discountAmount})/100">
                                        <td>
                                            <div class="media">
                                                <img alt="" class="img-fluid" th:src="${product.imageThumbnail}">
                                                <div class="media-body">
                                                    <a th:href="@{~/chi-tiet/(name=${product.metadata},id=${product.Id})}">
                                                        <h5 th:text="${product.name}"></h5>
                                                    </a>
                                                    <a class="delete_item" th:data-id="${product.id}">Xoá</a>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <h5 th:text="${#numbers.formatDecimal(discountPrice,0,'POINT',0,'COMMA')+'đ'}"></h5>
                                            <th:block  th:if="${product.discountAmount}>0">
                                            <span class="l-through"
                                                  th:text="${#numbers.formatDecimal(product.price,0,'POINT',0,'COMMA')+'đ'}"></span>
                                                <span> | -[[${product.discountAmount}]]%</span>
                                            </th:block>
                                        </td>
                                        <td>
                                            <div class="product_count">
                                                <input type="text" name="qty" th:id="${product.id}" maxlength="12" th:value="${quantity}"
                                                       class="input-text quantity_text">
                                                <button th:data-productid="${product.id}" th:data-isincreasing="1"
                                                        class="increase items-count" type="button">
                                                    <i class="lnr lnr-chevron-up"></i>
                                                </button>
                                                <button th:data-productid="${product.id}" th:data-isincreasing="2"
                                                        class="reduced items-count" type="button">
                                                    <i class="lnr lnr-chevron-down"></i>
                                                </button>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="total">
                                                <h5 th:text="${#numbers.formatDecimal(discountPrice*quantity,0,'POINT',0,'COMMA')+'đ'}"></h5>
                                            </div>
                                        </td>
                                    </th:block>
                                </tr>
                            </th:block>
                            </tbody>
                        </table>
                    </div>
                    <hr/>
                    <div class="bottom_button row justify-content-end">
                        <h5>Tạm tính: [[${#numbers.formatDecimal(session.sessionCartTotal,0,'POINT',0,'COMMA')+'đ'}]]</h5>
                    </div>
                    <th:block th:if="${session.sessionDiscountCode!=null}">
                        <div class="bottom_button row justify-content-end">
                            <h5>Giảm giá: -[[${#numbers.formatDecimal(session.sessionCartTotal*session.sessionDiscountCode.discountAmount/100,0,'POINT',0,'COMMA')+'đ'}]]</h5>
                        </div>
                    </th:block>
                    <div class="bottom_button row justify-content-end">
                        <div class="cupon_text d-flex align-items-center">
                            <form action="#" th:action="@{/apply-discount-code}" th:object="${discountCode}" method="post">
                                <input id="discount_text" placeholder="Mã giảm giá" type="text" th:field="*{code}">
                                <button class="gray_btn" id="apply_code" type="submit">Áp dụng</button>
                            </form>
                        </div>
                    </div>
                    <th:block th:if="${session.sessionDiscountCode!=null}">
                        <div class="bottom_button row justify-content-end align-items-center">
                            <div class="applied_code">
                                <span class="applied_code">[[${session.sessionDiscountCode.code}]]</span>
                                <a href="#" id="delete_discount_code" title="Xoá mã giảm giá"><i class="ti-close"></i></a>
                            </div>
                        </div>
                    </th:block>

                    <div class="total_price row justify-content-end align-items-center">
                        <h5>Tổng cộng: </h5>
                        <th:block th:if="${session.sessionDiscountCode!=null}">
                            <h2 id="total_number">[[${#numbers.formatDecimal(session.sessionCartTotal*(100-session.sessionDiscountCode.discountAmount)/100,0,'POINT',0,'COMMA')+'đ'}]]</h2>
                        </th:block>
                        <th:block th:if="${session.sessionDiscountCode==null}">
                            <h2 id="total_number">[[${#numbers.formatDecimal(session.sessionCartTotal,0,'POINT',0,'COMMA')+'đ'}]]</h2>
                        </th:block>
                    </div>
                    <div class="out_button_area row justify-content-end">
                        <div class="checkout_btn_inner d-flex align-items-center">
                            <a class="gray_btn" href="/">Tiếp tục mua hàng</a>
                            <a class="primary-btn" href="/thanh-toan">Thanh toán</a>
                        </div>
                    </div>
                    <div id="test-key"></div>
                </th:block>
                <th:block th:if="${session.sessionCart}==null">
                    <div class="justify-content-center">
                        <p>Không có sản phẩm nào trong giỏ hàng của bạn. </p>
                        <a class="primary-btn" href="/">Về trang chủ</a>
                    </div>
                </th:block>
            </div>
        </div>
    </section>
    <!--================End Cart Area =================-->
</div>


</body>
</html>