<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" th:href="@{/img/fav.png}">
    <!-- meta character set -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Site Title -->
    <title>Page not found</title>
    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/main.css}" type="text/css">
</head>
<body>
<div class="error_area">
    <h1>404</h1>
    <h4>Không tìm thấy trang</h4>
    <a th:href="@{/}" class="return_home">Về trang chủ</a>
</div>
</body>
</html>