<!DOCTYPE html>
<html class="no-js"
      xmlns:th="http://www.thymeleaf.org"
      th:fragment="main-fragment (title, mainContent)">
<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" th:href="@{/img/fav.png}">
    <!-- meta character set -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Site Title -->
    <title th:replace="${title}">Guitar Shop</title>

    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/css/linearicons.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/themify-icons.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/owl.carousel.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/nice-select.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/nouislider.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/ion.rangeSlider.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/ion.rangeSlider.skinFlat.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/magnific-popup.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/main.css}" type="text/css">
</head>

<body>
<!-- Start Header Area -->
<header class="header_area sticky-header">
    <div class="main_menu">
        <nav class="navbar navbar-expand-lg navbar-light main_box">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->

                <a class="navbar-brand logo_h" href="/"><img th:src="@{/img/logo.png}" alt=""></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                    <ul class="nav navbar-nav menu_nav ml-auto">
                        <li class="nav-item"><a class="nav-link" href="/">Trang chủ</a></li>
                        <li class="nav-item submenu dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true"
                               aria-expanded="false">Sản phẩm &nbsp;<i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a class="nav-link" th:href="@{~/san-pham/acoustic-guitars}">Acoustic Guitars</a></li>
                                <li class="nav-item"><a class="nav-link" th:href="@{~/san-pham/classic-guitars}">Classic Guitars</a></li>
                                <li class="nav-item"><a class="nav-link" th:href="@{~/san-pham/guitars-with-eq}">Guitars có EQ</a></li>
                            </ul>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="/lien-he">Liên hệ</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Giới thiệu</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="nav-item" title="Tìm kiếm">
                            <button class="search nav-link"><span class="fa fa-search" id="search"></span></button>
                        </li>
                        <li class="nav-item" title="Xem giỏ hàng">
                            <a href="/gio-hang" class="cart nav-link">
                                <span class="fa fa-shopping-cart"></span>
                                <div class="cart_item_count">0</div>
                            </a>
                        </li>
                        <li class="nav-item submenu dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true"
                               aria-expanded="false"><span class="fa fa-user"></span></a>
                            <ul class="dropdown-menu">
                                <li class="nav-item user_name"><a class="nav-link" href="/dang-nhap">Đăng nhập</a></li>
                                <li class="nav-item"><a class="nav-link" href="/dang-ki">Đăng kí</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <form action="search" th:attr="action=@{/tim-kiem/}">
        <div class="search_input" id="search_input_box">
            <div class="container">
                <div class="d-flex justify-content-between">
                    <input type="text" name="tu-khoa" class="form-control"/>
                    <button type="submit" class="btn"></button>
                    <span class="lnr lnr-cross" id="close_search" title="Đóng"></span>
                </div>
            </div>
        </div>
    </form>

</header>
<!-- End Header Area -->

<!-- Main content -->
<div th:replace="${mainContent}">Main content</div>
<!-- End Main content -->

<!-- Start footer Area -->
<footer class="footer-area section_gap">
    <div class="container">
        <hr/>
        <div class="footer_wrap">
            <div class="row justify-content-center social_info">
                <a href="#"><i class="fa fa-facebook-f"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa fa-tumblr"></i></a>
                <a href="#"><i class="fa fa-pinterest"></i></a>
            </div>
            <div class="copyright_info">
                    <span>
                        &copy; GuitarShop 2019. All rights reserved.
                        | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a
                            href="https://colorlib.com" target="_blank">Colorlib</a>
                    </span>
            </div>
        </div>
    </div>

</footer>
<!-- End footer Area -->

<!-- JavaScript -->

<script th:src="@{/js/vendor/jquery-2.2.4.min.js}"></script>
<script th:src="@{/js/vendor/bootstrap.min.js}"></script>
<script th:src="@{/js/jquery.ajaxchimp.min.js}"></script>
<script th:src="@{/js/jquery.nice-select.min.js}"></script>
<script th:src="@{/js/jquery.sticky.js}"></script>
<script th:src="@{/js/nouislider.min.js}"></script>
<script th:src="@{/js/jquery.magnific-popup.min.js}"></script>
<script th:src="@{/js/owl.carousel.min.js}"></script>
<script th:src="@{/js/rater.js}" charset="utf-8"></script>
<script th:src="@{/js/jquery.unobtrusive-ajax.min.js}"></script>
<script th:src="@{/js/main.js}"></script>
<script th:src="@{/js/controllers/cart-controller.js}"></script>
<script th:src="@{/js/controllers/contact-controller.js}"></script>
<script th:src="@{/js/controllers/user-controller.js}"></script>
<script async crossorigin="anonymous" defer
        src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v3.2&appId=2107095429555840&autoLogAppEvents=1"></script>
</body>
</html>
