<!DOCTYPE html>
<html class="no-js"
      th:replace="~{/shared/_layout :: main-fragment(
                                                ~{::title},
                                                ~{:: #main-content},
                                                ${session.PersonalInformation}
                                               )}"
      xmlns:th="http://www.thymeleaf.org"> 
<head>
        <title>Trang chủ - Guitar Shop</title>
</head>
<body>
<div id="main-content">
    <!-- Start banner Area -->
    <section class="banner-area home_banner">
        <div class="home_banner_wrapper">
            <div class="banner_shop_name">
                <h3>GuitarShop</h3>
            </div>
            <div class="banner_title">
                <h1>Sự lựa chọn của đam mê</h1>
            </div>
            <div class="banner_explore_button">
                <a class="explore_btn" href="#most_discount_products">Khám phá</a>
                <a class="contact_btn" href="/lien-he">Liên hệ</a>
            </div>
        </div>
    </section>
    <!-- End banner Area -->
    <!-- Start features Area -->
    <section class="features-area section_gap">
        <div class="container">
            <div class="row features-inner">
                <!-- single features -->
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-features">
                        <div class="f-icon">
                            <img alt="" th:src="@{/img/features/f-icon1.png}">
                        </div>
                        <h6>Miễn phí vận chuyển</h6>
                        <p>Cho tất cả đơn hàng tại Guitar Shop</p>
                    </div>
                </div>
                <!-- single features -->
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-features">
                        <div class="f-icon">
                            <img alt="" th:src="@{/img/features/f-icon2.png}">
                        </div>
                        <h6>1 đổi 1 trong vòng 1 tháng</h6>
                        <p>Đối với sản phẩm lỗi kỹ thuật.</p>
                    </div>
                </div>
                <!-- single features -->
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-features">
                        <div class="f-icon">
                            <img alt="" th:src="@{/img/features/f-icon3.png}">
                        </div>
                        <h6>Hỗ trợ 24/7</h6>
                        <p>Thông qua nhiều kênh mạng xã hội.</p>
                    </div>
                </div>
                <!-- single features -->
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-features">
                        <div class="f-icon">
                            <img alt="" th:src="@{/img/features/f-icon4.png}">
                        </div>
                        <h6>Thanh toán tiện lợi</h6>
                        <p>Nhanh chóng và an toàn.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End features Area -->
    <!-- Start Categories Area -->
    <section class="category_area">
        <div class="container">
            <div class="categories_home row">
                <th:block th:each="item:${categoryList}">
                    <div class="col-md-4 single_category">
                        <a href="#">
                            <h3>[[${item.name}]] <i class="fa fa-angle-right"></i></h3>
                        </a>
                    </div>
                </th:block>
            </div>
        </div>
    </section>
    <!-- End Categories Area -->
    <!-- Start hot products Area -->
    <section class="section_gap" id="most_discount_products">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 text-center">
                    <div class="section-title">
                        <h1>Sản phẩm khuyến mãi hot nhất</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <th:block th:each="item:${mostDiscountProducts}">
                    <a th:href="@{~/chi-tiet(name=${item.metadata}, id=${item.Id})}">
                        <div class="col-lg-3 col-md-4 col-6">
                            <div class="single-product">
                                <img alt="" class="img-fluid" th:src="${item.imageThumbnail}">
                                <div class="product-details s_product_text">
                                    <h6 th:text="${item.name}"></h6>
                                    <div class="price">
                                        <th:block th:with="discountPrice=${item.price}*(100-${item.discountAmount})/100">
                                            <h6 th:text="${#numbers.formatDecimal(discountPrice,0,'POINT',0,'COMMA')+'đ'}"></h6>
                                            <h6 class="l-through" th:if="${item.discountAmount}>0"
                                                th:text="${#numbers.formatDecimal(item.price,0,'POINT',0,'COMMA')+'đ'}"></h6>
                                        </th:block>
                                    </div>
                                    <div class="prd-bottom card_area">
                                        <a class="primary-btn" th:href="@{/add-to-cart(productId=${item.id}, quantity=1)}">Thêm vào giỏ</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </th:block>
            </div>
        </div>
    </section>
    <!-- End hot products Area -->
    <!-- Start newest products Area -->
    <section>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 text-center">
                    <div class="section-title">
                        <h1>Sản phẩm mới nhất</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <th:block th:each="item:${newestProducts}">
                    <a th:href="@{~/chi-tiet/(name=${item.metadata},id=${item.Id})}">
                        <div class="col-lg-3 col-md-4 col-6">
                            <div class="single-product">
                                <img alt="" class="img-fluid" th:src="${item.imageThumbnail}">
                                <div class="product-details s_product_text">
                                    <h6 th:text="${item.name}"></h6>
                                    <div class="price">
                                        <th:block th:with="discountPrice=${item.price}*(100-${item.discountAmount})/100">
                                            <h6 th:text="${#numbers.formatDecimal(discountPrice,0,'POINT',0,'COMMA')+'đ'}"></h6>
                                            <h6 class="l-through" th:if="${item.discountAmount}>0"
                                                th:text="${#numbers.formatDecimal(item.price,0,'POINT',0,'COMMA')+'đ'}"></h6>
                                        </th:block>
                                    </div>
                                    <div class="prd-bottom card_area">
                                        <a class="primary-btn" th:href="@{/add-to-cart(productId=${item.id}, quantity=1)}">Thêm vào giỏ</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </th:block>
            </div>
        </div>
    </section>
    <!-- End newest products Area -->        
</div>
</body>
</html>